<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>LeetCode.net{% if page.title: print " - %s" % page.title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset={{ __encoding__ }}" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
	<div id="wrapper">
		<div id="main">
			<div id="header">
				<h1><a href="{{ pretty(page["logo-url"]) }}">{{ page.logo }}</a></h1>
				<div id="tagline">{{ page.tagline }}</div>
			</div>
			<div id="content">
				{% if page.title: print "<h1><a href=\"%s\">%s</a></h1>" % (pretty(page.url), page.title) %}

{{ __content__ }}

			</div>
		</div>
		<div id="sidebar">
			<div id="menu">
				<ul>
{%
menupages = [p for p in pages if "menu-position" in p]
menupages.sort(key=lambda p: int(p.get("menu-position")))
for p in menupages:
	title = p["menu-title"] if "menu-title" in p else p.title
	print "					<li><a href=\"%s\">%s</a></li>" % (pretty(p.url), title)
%}
				</ul>
			</div>
		</div>
		<div id="footer">
			Built with <a href="http://bitbucket.org/obensonne/poole">Poole</a>
		</div>
	</div>
</body>
</html>
