RewriteEngine on
RewriteBase /

RewriteRule ^mantis.*$ /blog/me-php-and-mantisbt/  [L,R]

RewriteRule ^blog/feed/$ /feed.xml [L,R=301]
RewriteRule ^blog/tag/(.*)$ /tags/$1 [L,R=301]
RewriteRule ^blog/archive$ /archive [L,R=301]
RewriteRule ^blog/(\d+)/?$ /$1/ [L,R=301]
RewriteRule ^blog/(\d+)/(\d+)/?$ /$1/$2 [L,R=301]
