RewriteEngine on
RewriteBase /

RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
RewriteRule ^(.*)/$ /$1/index.html [L]

RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.*)/$ /$1 [L,R]

RewriteRule ^mantis.*$ /blog/me-php-and-mantisbt/  [L,R]

#RewriteRule ^$ /blog/ [L,R]
RewriteRule ^blog/feed/$ /feed.xml [L,R]
