@import "elements.less";

// Fonts
@import url("http://fonts.googleapis.com/css?family=Noticia+Text:400,700|Volkhov:400|Droid+Sans+Mono:400");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400&subset=latin,greek");

@sans: "Open Sans", sans-serif;
@serif: "Volkhov", serif;
@title: "Noticia Text", serif;
@monospace: "Droid Sans Mono", monospace;

// Colors
@black: #010409;
@slate: #252525;
@grey: #4a4a4a;
@pebble: #7a706a;
@sand: #e0ded9;
@offwhite: #f0eee9;
@white: #ffffff;

@orange: #ff4f00;

// Theme
@text: @slate;
@link: @slate;
@link-hover: @orange;

@divider: @slate;

// Defaults
body
{
	color: @text;

	font-family: @sans;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
}

a
{
	color: @link;
	text-decoration: none;
}
a:hover
{
	color: @link-hover;
	text-decoration: underline;
}

em
{
	font-style: italic;
}

strong
{
	font-weight: 700;
}

pre, code
{
	font-family: @monospace;
}

h1, h2, h3, h4, h5, h6
{
	font-family: @serif;
}

// Style
@gutter: 32px;
@spacer: 20px;

#background
{
	z-index: -1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.gradient(@sand, @sand, @pebble);
	background-color: @sand;
	background-repeat: repeat-x;
	background-size: auto 650px;
}
#wrapper
{
	width: 960px;
	margin: auto;
	background: @white;
}
#header
{
	width: 100%;
	background: @slate;
	padding: 36px 0 6px;

	#logo
	{
		padding-left: @gutter;
		border-bottom: 3px solid @grey;
		line-height: 9px;

		a, a:hover
		{
			color: @orange;
			font-family: @title;
			font-size: 48px;
			font-weight: 400;
			letter-spacing: -2px;
			text-decoration: none;
		}

		#tagline
		{
			position: relative;
			top: -1px;
			padding-left: 12px;
			color: @pebble;
			font-family: @title;
			font-weight: 700;
		}
	}

	#pages, #links
	{
		display: inline-block;
		padding: 6px @gutter 0;
		font-family: @serif;
		font-weight: 400;

		li
		{
			display: inline-block;
			margin-right: @spacer;

			a
			{
				color: @sand;
			}

			a.current
			{
				color: @white;
			}

			a:hover
			{
				color: @orange;
				text-decoration: none;
			}
		}
	}

	#links
	{
		float: right;

		li
		{
			margin-right: 0;
			margin-left: @spacer;
		}
	}
}

#content
{
	padding: @gutter / 2 @gutter;

	h1, h2
	{
		margin: 32px 0 1px;
		font-size: 28px;
		line-height: 32px;
	}

	h3
	{
		margin: 4px 0 8px;
		font-size: 20px;
		line-height: 24px;
	}
	h4
	{
		margin: 4px 0 8px;
		font-size: 18px;
		line-height: 22px;
	}

	p
	{
		margin-bottom: @spacer;

		a
		{
			text-decoration: underline;
		}
	}

	pre
	{
		margin: 0 @gutter @spacer;
		background: @offwhite;
		border-left: 1px solid @pebble;
		border-right: 1px solid @pebble;
		padding: 16px;
		overflow: auto;

		code
		{
			font-size: 14px;
			line-height: 18px;
		}
	}

	blockquote
	{
		margin: 0 @gutter @spacer;
		background: @offwhite;
		padding: @spacer @spacer 1px;
	}

	ul
	{
		margin: 0 @gutter @spacer;

		li
		{
			list-style-type: disc;

			p
			{
				margin-bottom: 12px;
			}

			li
			{
				list-style-type: circle;
			}
		}

		ul
		{
			margin-bottom: 0;
		}
	}

	.metadata
	{
		font-size: 14px;
		line-height: 16px;
		color: @pebble;

		a
		{
			color: @pebble;
			text-decoration: none;
		}

		a:hover
		{
			color: @link-hover;
			text-decoration: underline;
		}
	}

	.sig, .excerpt
	{
		margin-bottom: @gutter * 2;
		color: @pebble;

		a
		{
			color: @pebble;
			text-decoration: none;
		}

		a:hover
		{
			color: @link-hover;
			text-decoration: underline;
		}
	}

	.more
	{
		color: @pebble;

		a
		{
			color: @pebble;
		}

		a:hover
		{
			color: @link-hover;
		}
	}
}

#footer
{
	margin-top: @gutter;
	margin-bottom: @gutter * 4;
	background: @slate;
	color: @offwhite;
	font-size: 14px;
	line-height: 18px;

	#legal
	{
		display: inline-block;
		vertical-align: text-top;
		width: 440px;
		margin: @gutter 0;
		padding: 0 @gutter;

		.license, .generator
		{
			a
			{
				color: @offwhite;
				text-decoration: underline;
			}

			a:hover
			{
				color: @link-hover;
			}
		}
	}

	#more, #hosted
	{
		display: inline-block;
		vertical-align: text-top;
		width: 240px;
		margin: @gutter 0;
		padding: 0 @gutter;
		border-left: 1px solid @grey;

		a
		{
			color: @offwhite;
		}

		a:hover
		{
			color: @link-hover;
		}
	}

	#hosted
	{
		font-size: 12px;
		line-height: 14px;

		a:hover
		{
			border-bottom: 1px solid  @link-hover;
		}
	}
}

::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar:vertical
{
	.gradient(@sand, @sand, @pebble);
	background-color: @sand;
	background-repeat: repeat-x;
	background-size: auto 650px;
}
::-webkit-scrollbar-button
{
	display: block;
	width: 16px;
	height: 24px;
	background-color: transparent;
}
::-webkit-scrollbar-track
{
	.rounded(5px);
	background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb
{
	.rounded(5px);
	background: rgba(0,0,0,0.3);
}
