@import (reference) "elements.less";

// Fonts
@import (inline) url("https://use.typekit.net/igl6ogc.css");

.logo(@weight: 600) {
	font-family: "lust-script", Georgia, serif;
	font-weight: @weight;
}

.sublogo(@weight: 400) {
	font-family: "lato", Helvetica, Arial, sans-serif;
}

.title(@weight: 600) {
	font-family: "chaparral-pro", Helvetica, Arial, sans-serif;
	font-weight: @weight;
}

.metatext(@weight: 400) {
	font-family: "lato", Helvetica, Arial, sans-serif;
	font-weight: @weight;
}

.text(@weight: 300) {
	font-family: "lato", Helvetica, Arial, sans-serif;
	font-weight: @weight;
}

.code(@weight: 300) {
	font-family: "input-sans", monospace;
	font-weight: @weight;
}

// Witch Hazel
@whbackground: #433E56;
@whforeground: #F8F8F2;
@whhighlight: #716799;
@whselection: #8077a8;
@whcomment: #B0BeC5;
@whkeyword: #c2ffdf;
@whother: #C5A3FF;
@whstorage: #FFB8D1;
@whclass: #FFF352;
@whfunction: #CEB1FF;

* {
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

#background {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: @whbackground;
}

@media (min-width: 981px) {
	#wrapper {
		width: 960px;
		margin: auto;
	}
}

@media (max-width: 980px) {
	#wrapper {
		width: 100%;
		padding: 0 3em;
	}
}

#wrapper {
	color: @whforeground;
	font-size: 24px;
	.text();
	line-height: 1.5em;

	a {
		color: @whcomment;
		text-decoration: none;
	}

	a:hover {
		color: @whselection;
		text-decoration: underline;
	}

	p {
		margin: 1em 0em;
	}
}

#header {
	display: flex;
	flex-direction: column;

	color: @whcomment;
	border-bottom: 1px solid @whhighlight;

	margin: 1em 0 0;

	#title {
		text-align: center;
		margin: 0em 0em -0.8em;

		a {
			color: @whselection;
			font-size: 72px;
			.logo();
			text-decoration: none;
		}
	}

	#tagline {
		font-size: 18px;
		text-align: center;
		.sublogo(300);
	}

	#navbar {
		//order: -1;

		font-variant-caps: all-small-caps;
		text-align: center;
		margin: 0.5em 0em;
		.code(400);

		ul {
			li {
				display: inline-block;
				list-style-type: none;
				margin: 0em 0.25em;

				a:hover {
					text-decoration: none;
				}
			}
		}
	}
}

#content {
	.story {
		margin: 2em 0em 3em;

		h2 {
			color: @whselection;
			font-size: 36px;
			.title();

			a {
				color: @whselection;
			}
		}

		p.metadata {
			color: @whcomment;
			font-size: 18px;
			.metatext(300);
		}

		img {
			width: 100%;
			margin: auto;
		}
	}

	.thumbnails {
		display: flex;
		flex-direction: row;
	}
}