@import (reference) "elements.less";

// "Reset"
* {
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

// Fonts
@import (inline) url("https://use.typekit.net/igl6ogc.css");

// Witch Hazel
@whbackground: #433E56;
@whforeground: #F8F8F2;
@whhighlight: #716799;
@whselection: #8077a8;
@whcomment: #B0BeC5;
@whkeyword: #c2ffdf;
@whother: #C5A3FF;
@whstorage: #FFB8D1;
@whclass: #FFF352;
@whfunction: #CEB1FF;

:root {
	--font-logo: "lust-script", Georgia, serif;
	--font-sublogo: "lato", Helvetica, Arial, sans-serif;
	--font-title: "chaparral-pro-display", Helvetica, Arial, sans-serif;
	--font-metatext: "lato", Helvetica, Arial, sans-serif;
	--font-text: "lato", Helvetica, Arial, sans-serif;
	--font-code: "input-sans", monospace;

	--size-logo: 72px;
	--size-title: 42px;
	--size-text: 24px;
	--size-small: 18px;

	--weight-logo: 600;
	--weight-sublogo: 400;
	--weight-title: 600;
	--weight-metatext: 300;
	--weight-text: 400;
	--weight-code: 400;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: @whbackground;
		--color-logo: @whselection;
		--color-sublogo: @whcomment;
		--color-nav: @whcomment;
		--color-nav-hover: @whfunction;
		--color-divider: @whhighlight;
		--color-title: @whselection;
		--color-metatext: @whcomment;
		--color-text: @whforeground;
		--color-link: @whother;
		--color-link-hover: @whfunction;

		--weight-sublogo: 300;
		--weight-metatext: 300;
		--weight-text: 300;
		--weight-code: 300;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--color-background: @whforeground;
		--color-logo: @whhighlight;
		--color-sublogo: @whbackground;
		--color-nav: @whbackground;
		--color-nav-hover: @whhighlight;
		--color-divider: @whselection;
		--color-title: @whhighlight;
		--color-metatext: @whhighlight;
		--color-text: @whbackground;
		--color-link: @whhighlight;
		--color-link-hover: @whselection;
	}
}

// (40em + 2x2em) * 24px == 1056 
@media (min-width: 1057px) {
	#wrapper {
		width: 40em;
		margin: auto;
	}
}

@media (max-width: 1056px) {
	#wrapper {
		width: 100%;
		padding: 0 2em;
	}
}

// increase fonts, reduce padding for small, retina devices
@media (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	:root {
		--size-logo: 96px;
		--size-title: 64px;
		--size-text: 46px;
		--size-small: 28px;
		--weight-metatext: 400;
	}

	#wrapper {
		padding: 0 1em;
	}
}

body {
	background-color: var(--color-background);
}

#background {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--color-background);
}

#wrapper {
	color: var(--color-text);
	font-family: var(--font-text);
	font-size: var(--size-text);
	font-weight: var(--weight-text);
	line-height: 1.5em;

	a {
		color: var(--color-link);
		text-decoration: none;
	}

	a:hover {
		color: var(--color-link-hover);
		text-decoration: underline;
	}

	p {
		margin: 1em 0em;
	}
}

#header {
	display: flex;
	flex-direction: column;

	color: var(--color-sublogo);
	border-bottom: 1px solid var(--color-divider);

	padding: 1em 0;

	#logo {
		text-align: center;
		margin: 0em 0em -0.8em;

		a {
			color: var(--color-logo);
			font-family: var(--font-logo);
			font-size: var(--size-logo);
			font-weight: var(--weight-logo);
			text-decoration: none;
		}
	}

	#tagline {
		font-family: var(--font-sublogo);
		font-size: var(--size-small);
		font-weight: var(--weight-sublogo);
		text-align: center;
	}

	#navbar {
		order: -1;
		text-align: right;

		font-family: var(--font-code);
		font-variant: all-small-caps;
		font-weight: var(--weight-code);
		margin: -0.5em 0em 0.5em;

		ul {
			li {
				display: inline-block;
				list-style-type: none;
				margin: 0em 0.25em;

				a {
					color: var(--color-nav);
				}

				a:hover {
					color: var(--color-nav-hover);
					text-decoration: none;
				}
			}
		}
	}
}

#content {
	.story {
		margin: 2em 0em 3em;

		h2 {
			color: var(--color-title);
			font-family: var(--font-title);
			font-size: var(--size-title);
			font-weight: var(--weight-title);
			line-height: 1.2em;

			a {
				color: var(--color-title);
				line-height: 1.2em;
			}

			span {
				line-height: 1.2em;
			}
		}

		p.metadata {
			color: var(--color-metatext);
			font-family: var(--font-metatext);
			font-size: var(--size-small);
			font-weight: var(--weight-metatext);
			margin: 0 0 1em;
		}

		p.sig a {
			color: var(--color-title);
		}

		img {
			width: 100%;
			margin: auto;
			.rounded(5px);
			.drop-shadow(5px, 5px);
		}
	}

	.thumbnails {
		display: flex;
		flex-direction: row;
	}
}