@font-face {
	font-family: "DejaVu Sans";
	font-weight: normal;
	src: local("DejaVu Sans"), url("http://files.leetcode.net/fonts/DejaVuSans.ttf") format("truetype");
}
@font-face {
	font-family: "DejaVu Sans";
	font-weight: bold;
	src: local("DejaVu Sans Bold"), url("http://files.leetcode.net/fonts/DejaVuSans-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "DejaVu Serif";
	font-weight: normal;
	src: local("DejaVu Serif"), url("http://files.leetcode.net/fonts/DejaVuSerif.ttf") format("truetype");
}
@font-face {
	font-family: "DejaVu Serif";
	font-weight: bold;
	src: local("DejaVu Serif Bold"), url("http://files.leetcode.net/fonts/DejaVuSerif-Bold.ttf") format("truetype");
}
