{%- from 'macros.html' import post, navlinks, breadcrumbs -%}
<!DOCTYPE html>
<html>

<head>
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- mobile friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/bigfoot/bigfoot-default.css" />
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="All Posts" />

    <link rel="me" href="https://noswap.com" />
    <link rel="me" href="https://n7.gg" />
    <link rel="canonical" href="{{ page.uri }}" />
    <link rel="openid.server" href="https://login.launchpad.net/+openid" />
    <link rel="openid.delegate" href="https://login.launchpad.net/+id/XCcfGeH" />
    <link rel="openid2.provider" href="https://login.launchpad.net/+openid" />
    <link rel="openid2.local_id" href="https://login.launchpad.net/+id/XCcfGeH" />

    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ page.uri }}" />
    <meta property="og:image"
        content="{{ site.uri }}{% if page.image %}{{ page.image }}{% else %}/media/avatar.png{% endif %}" />
    {%- if page.date %}
    <meta property="og:type" content="article" />
    {%- if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    {%- endif %}
    {%- if page.description %}
    <meta property="og:description" content="{{ page.description }}" />
    {%- endif %}
    {%- if page.title %}
    <meta itemprop="name" content="{{ page.title }} - {{ site.title }}" />
    {%- endif %}
    {%- if page.description %}
    <meta itemprop="description" content="{{ page.description }}" />
    {%- endif -%}
    {%- endif %}
</head>

<body>

    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <div id="avatar"><img src="/media/avatar.png"/></div>
                <h1><a href="{{ site.root }}">{{ site.title }}</a></h1>
            </div>
            <div id="tagline">
                {% if page.tagline %}{{ page.tagline }}{% else %}{{ site.tagline }}{% endif %}
            </div>
            <div id="navbar">
                <ul>
                    {{- navlinks(site, page, [
                        ("/about", "About"),
                        ("/setup", "Setup"),
                    ])}}
                    <li><a rel="me" href="/feed.xml"><i class="fa fa-rss"></i></a></li>
                    <li><a rel="me" href="https://github.com/amyreese"><i alt="Follow me on Github" class="fab fa-github"></i></a></li>
                    <li><a rel="me" href="https://toots.n7.gg/@amethyst"><i class="fab fa-mastodon"></i></a></li>
                    <li><a rel="me" href="https://last.fm/user/n7cmdr"><i class="fab fa-lastfm"></i></a></li>
                    <li><a rel="me" href="https://steamcommunity.com/id/n7amy/"><i class="fab fa-steam"></i></a></li>
                </ul>
            </div>
        </div>

        <div id="content">
            {%- block page %}
            <div class="story">
                {%- if title %}
                <h2 class="title">{{ breadcrumbs(page) }}</h2>
                {%- endif %}
                {%- block content %}
                {{ content }}
                {%- endblock %}
            </div>
            {%- endblock %}
        </div>

        <div id="footer">
            <ul>
                <li><i class="fa fa-copyright"></i> Copyright {{ site.author }}</li>
                <li><i class="fab fa-creative-commons"></i> Licensed under the <a rel="license"
                        href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons (CC BY-NC-SA 4.0)
                        License</a></li>
            </ul>

            <ul>
                <li>🏳️‍⚧️ Trans Rights Are Human Rights</li>
                <li>✊ Black Lives Matter</li>
            </ul>
        </div>
    </div>

    <div id="background"></div>

    <script src="/js/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="></script>
    <script src="/bigfoot/bigfoot.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>
