{% extends "page.html" %}
{% block page %}
<div class="row">
    <div class="col-md-12">
        {%- if page.title %}
        <h2 class="title">{{ breadcrumbs(page) }}</h2>
        {%- endif %}
        {{ content }}
    </div>
</div>

{% for p in pages %}
{{ post(p, short=True) }}
{% endfor %}

{%- if page.previous or page.next %}
<nav>
    <ul class="pager">
        {%- if page.previous %}
        <li class="previous">
            <a href="{{ page.previous.uri }}">&larr; Previous</a>
        </li>
        {%- endif %}
        {%- if page.next %}
        <li class="next">
            <a href="{{ page.next.uri }}">Next &rarr;</a>
        </li>
        {%- endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
