{% extends "page.html" %}
{% block page %}
<div class="story">
    {%- if page.title %}
    <h2 class="title">{{ breadcrumbs(page) }}</h2>
    {%- endif %}
    {{ content }}
</div>

{% for p in pages %}
{{ post(p, short=True) }}
{% endfor %}

{%- if page.previous or page.next %}
<div id="pager">
    {%- if page.previous %}
    <a class="previous" href="{{ page.previous.uri }}">&larr; Previous</a>
    {%- endif %}
    {%- if page.next %}
    <a class="next" href="{{ page.next.uri }}">Next &rarr;</a>
    {%- endif %}
</div>

{% endif %}
{% endblock %}